@charset "utf-8";

* {
    padding: 0px;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1200px;
    height: 250px;
}

h1 {
    font-family:"DinPRO-Bold", "sans-serif";
    color:rgb(241, 85, 22);
    font-size: 40px;
    margin-left: 20px;
}

h2 {
    font-family:"DinPRO", "sans-serif";
    color:beige;
    font-size: 20px;
}

h3 {
    font-family:"DinPRO-Bold", "sans-serif";
    color:rgb(241, 85, 22);
    font-size: 20px;
}

h4 {
    font-family:"DinPRO", "sans-serif";
    color:beige;
    font-size: 14px;
    font-weight:initial;
}

@font-face {
    font-family: "DinPRO";
    src: url(fonts/DINPro.otf), format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DinPRO-Bold";
    src: url(fonts/DINPro-Bold.otf), format(opentype);
    font-weight: normal;
    font-style: normal;
}

p {
    font-family:"DinPRO", "sans-serif";
    color:rgb(52, 42, 42);
    font-size: 14px;
    font-weight:initial;
    text-align:justify;
}

nav {
    background-color: rgb(233, 120, 64);
    width: 1200px;
    height: 80px;
    border-radius: 20px;
    display: flex;
}

nav ul {
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonera a {
    text-decoration: none;
    color: rgb(52, 42, 42);
    padding: 10px 20px;
    border: 1px solid rgb(52, 42, 42);
    border-radius: 30px;
}

.botonera a:hover {
    color: #fff;
    background-color: rgb(52, 42, 42);
}

.botonera a:active {
    background-color: #999;
    color: #fff;
}

.caja-texto {
    width: 1000px;
    background-color:beige;
    padding-left: 20px;
    margin: 0px;
    border-color:rgb(52, 42, 42);
    box-sizing:border-box;
}

.caja-programas {
    width: 500px;
    background-color:beige;
    padding: 20px;
    margin: 0px;
    border-color:rgb(52, 42, 42);
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
}

.redondeo {
    border-radius: 20px;
}

ul {
    list-style-type:none;
    padding-left: 10px;
    font-family: "DinPRO";
}

ol {
    list-style:circle;
    padding-left: 0px;
    font-family: "DinPRO";
}

a {
    text-decoration: none;
}

a:link {
    color:white
}

a:visited {
    color:darkgray;
}

a:active {
    color: blue;
}

a:hover {
    color:crimson;
}

aside{
    background-color: rgb(12, 165, 122);
    padding: 3%;
    border-radius: 20px;
    width:40%;
    align-items: center;
    flex-direction: column;
}

main {
    width: 1200px;
    display: flex;
    margin-bottom: 20px;
}

section {
    width: 880px;
    margin-right: 20px;
}

.sociales {
    padding-left: 20px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobremi {
    color: beige;
}

.volvera {
    text-align: right;
    align-items: center;
}